.pagination a {
    border: 1px solid blue;
    margin: 40px;
    color: black;
    float: left;
    /* text-align: center; */
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
  }
  
  .pagination a.active {
    background-color: dodgerblue;
    color: white;
  }